<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="DocsUrl" value="http://localhost:8080" />
		<add key="DBLocation" value="D:\\EW-WEB\\EWApp\\bin\\AllFiles\\"/>
		<!-- <add key="LogType" value="FileLogger"/>-->
		<add key="LogType" value="EventLogger"/>
	</appSettings>
</configuration>